.authMenu {
  gap: 6px;
  display: flex;
  flex-direction: column;
  width: 130px;
}
.icon {
  width: 16px;
  height: 16px;
}
.logInWrap {
  gap: 6px;
  display: flex;
}

@media screen and (min-width: 768px) {
  .authMenu {
    gap: 16px;
    justify-content: center;
    align-items: center;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
  .logInWrap {
    gap: 8px;
  }
}
@media screen and (min-width: 1440px) {
  .authMenu {
    flex-direction: row;
    width: 277px;
  }
}
