.overlay {
  border-radius: 30px;
  background: #fff;
  width: 270px;
  padding: 24px;
  position: relative;
}
.icon {
  width: 20px;
  height: 20px;
  stroke: #121417;
  position: absolute;
  top: 15px;
  right: 15px;
}
.overlay h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.8px;
  margin-bottom: 20px;
}

.text {
  color: rgba(18, 20, 23, 0.8);
  line-height: 1.38;
  margin-bottom: 40px;
  font-size: 14px;
}

.input {
  padding: 8px 9px;
  border-radius: 12px;
  border: 1px solid rgba(18, 20, 23, 0.1);
  width: 100%;
  font-size: 12px;
}

.input::placeholder {
  color: #121417;
  line-height: 1.38;
}

.btnLogIn {
  width: 100%;
  padding: 16px;
  border-radius: 12px;
  background: #f4c550;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.56;
}

.iconEye {
  fill: none;
  stroke: #121417;
  position: absolute;
  top: 18%;
  right: 18px;
  height: 12px;
}
.errorWrap:not(:last-of-type) {
  position: relative;
  margin-bottom: 18px;
}
.errorWrap:last-of-type {
  margin-bottom: 30px;
  position: relative;
}
.error {
  color: rgb(232, 89, 89);
  font-size: 12px;
  position: absolute;
  left: 18px;
  bottom: -18px;
}

@media screen and (min-width: 768px) {
  .overlay {
    width: 566px;
    height: 506px;
    padding: 64px;
  }
  .icon {
    width: 32px;
    height: 32px;
    top: 20px;
    right: 20px;
  }
  .overlay h2 {
    font-size: 40px;
  }

  .text {
    font-size: 16px;
  }

  .input {
    padding: 16px 18px;
    font-size: 16px;
  }

  .iconEye {
    height: 20px;
  }
  .errorWrap:last-of-type {
    margin-bottom: 40px;
  }
}
