.favorite {
  background-color: #f8f8f8;
}
.alternativeText {
  font-size: 26px;
  /* width: 700px; */
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
  color: #f4c550;
}
.link {
  text-decoration: underline;
  background-color: transparent;
  color: #f3ae02;
}

.link:hover,
.link:focus {
  background-color: transparent;
  color: blue;
}

@media screen and (min-width: 768px) {
  .alternativeText {
    font-size: 16px;
    padding-top: 30px;
    width: 700px;
  }
}
