.mainInfo {
  display: flex;
  gap: 48px;
  padding: 24px;
  width: 1184px;
  height: 328px;
}
.avatar {
  border-radius: 50%;
  width: 96px;
  height: 96px;
}

.avatarBorder {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #fbe9ba;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapInfo {
}
.commonInfo {
}
.commonInfoRight p:first-of-type {
  color: #8a8a89;
  font-weight: 500;
}
.commonInfoRight p:last-of-type {
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
}

.commonInfoLeft {
  display: flex;
  gap: 64px;
}
.commonInfoList {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  font-weight: 500;
}
.text > span {
  color: #8a8a89;
}
.price {
  color: #38cd3e;
  font-weight: 500;
}
.icon {
  width: 16px;
  height: 16px;
  fill: none;
  stroke: #121417;
}
