:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #121417;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  display: block;
  text-decoration: inherit;
  transition: background-color 0.25s ease-in;
}
a:hover {
  background-color: #ffdc86;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
.container {
  max-width: 1440px;
  width: 100%;
  padding: 20px 64px 32px;
}

button {
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.25s ease-in;
  outline: none;
}

button:hover,
button:focus {
  background-color: #ffdc86;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
}
