.notFoundPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 1440px;
  padding: 30px 60px;
  text-align: center;
  background: radial-gradient(
    circle,
    rgb(203, 199, 199) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
